$rows: 12;

.gallery {
  display: grid;
  grid-gap: 22px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 152px;
}

.gallery__image {
  position: relative;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.gallery__image-info {
  position: absolute;
  text-align: center;
  color: white;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
  text-decoration: none;

  &:hover, &:focus {
    opacity: 1;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.7);
  }
}

.gallery__image-caption {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 14px;
}

.gallery__image-category {
  margin-top: 10px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
}

@for $i from 1 through $rows {
  .gallery__image--#{$i}x {
    grid-row-end: span $i;
  }
}
