$orange-500: #FCBB08;

$gray-900: #242121;
$gray-850: #1D1D1D;
$gray-825: #333333;
$gray-800: #373A39;
$gray-300: #777777;
$gray-150: #F0F0F0;
$gray-100: #F6F8FA;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $gray-800;
}

h1, body {
  margin: 0;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.logo {
  height: 42px;
  object-fit: contain;

  &:focus {
    border: 2px solid $orange-500;
  }
}

.main-navigation {
  height: 94px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 52px;
  font-family: 'Raleway', sans-serif;
}

.main-navigation__menu {
  display: flex;
  list-style-type: none;
}

.main-navigation__menu-item {
  margin-left: 50px;

  a {
    padding: 9px;
    color: $gray-800;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 14px;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-decoration: none;

    &:focus {
      border: 2px solid $orange-500;
    }
  }
}

.main-navigation__menu-item:hover,
.main-navigation__menu-item--active {
  border-bottom: 2px solid $orange-500;
}

.hero {
  height: 658px;
  background: url(https://picsum.photos/1440/658) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__header {
  margin-top: 213px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 122px;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
}

.hero__subtitle {
  margin-top: 18.5px;
  font-family: 'Montserrat', sans-serif;
  color: $orange-500;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.mouse {
  width: 26px;
  height: 43px;
  border: 2px solid white;
  border-radius: 100px;
  margin-top: 180px;
  display: flex;
  justify-content: center;
}

.mouse__wheel {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  margin-top: 8px;
}

.about-us {
  display: flex;
  background-color: $gray-100;
  min-height: 491px;
  padding: 0 135px 159px 135px;
}

.about-us__header {
  width: 267px;
  padding-top: 143px;
}

.about-us__content {
  margin-top: 152px;
  margin-left: 133px;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  color: $gray-900;
  letter-spacing: -1.65px;
  white-space: nowrap;
  position: relative;
  margin: 0;

  &:after {
    content: '';
    position: absolute;
    bottom: -14px;
    display: block;
    background-color: $orange-500;
    width: 60px;
    height: 4px;
  }
}

.header-underline {
  background-color: $orange-500;
  width: 60px;
  height: 4px;
}

.our-expertise {
  padding: 0 135px 164px 135px;
  min-height: 877px;
}

.our-expertise__header {
  padding-top: 143px;
}

.our-expertise__content {
  margin-top: 89px;
  display: flex;
}

.our-expertise__stats {
  min-width: 370px;
}

.progress {
  margin-bottom: 28px;
  padding-top: 9px;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: $gray-850;
}

.progress__line {
  height: 2px;
  background-color: $gray-150;
}

.progress__value {
  height: 100%;
  background-color: $gray-850;
}

.progress__label {
  position: relative;
  left: calc(100% - 8px);
}

.text-uppercase {
  text-transform: uppercase;
}

.progress__legend {
  display: flex;
  justify-content: space-between;
}

.our-expertise__description {
  margin-left: 30px;
}

.our-expertise__services {
  margin-top: 110px;
  display: flex;
  padding: 0 3px;
}

.our-expertise__services-item {
  display: flex;
  margin-right: 27px;
}

.our-expertise__services-item-icon {
  margin-right:  35px;
}

.our-expertise__services-item-header {
  font-family: Raleway;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 4.29px;
  text-transform: uppercase;
  color: $gray-825;
}

.our-expertise__services-item-description {
  color: $gray-300;
  margin-top: 18px;
}

.vision {
  display: flex;
  background: $gray-100;
  max-height: 840px;
}

.vision__image {
  width: 50%;
  object-fit: cover;
}

.vision__content {
  width: 50%;
  padding: 101px 135px 180px 130px;
}

.vision__description {
  margin-top: 67px;
}
