$space-amounts: (0 30 40 55 95);
$sides: (top, bottom, left, right);

.text-uppercase {
  text-transform: uppercase;
}

.lh-0 {
  line-height: 0;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

@each $name, $breakpoint in $breakpoints {
  .d-none-#{$name} {
    @include respond-to($breakpoint) {
      display: none;
    }
  }

  .d-block-#{$name} {
    display: none;

    @include respond-to($breakpoint) {
      display: block;
    }
  }
}

@each $space in $space-amounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}
