.about-us {
  display: flex;
  background-color: $gray-100;
  min-height: 491px;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 143px;
  box-sizing: border-box;
}

.about-us__header {
  width: 267px;
}

.about-us__content {
  margin-left: 133px;
}
