.about-us {
  display: flex;
  background-color: $gray-100;
  min-height: 500px;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: column;

  @include respond-to($md) {
    padding: 135px;
  }

  @include respond-to($lg) {
    flex-direction: row;
  }
}

.about-us__heading {
  width: 260px;
  margin-right: 135px;
  margin-bottom: 50px;
}
