.corousel {
  min-height: 840px;
  display: flex;
  background-color: $gray-100;
  padding: 0 38px;
  display: flex;
  align-items: center;
}

.corousel__slide {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 114px 95px;
  min-height: 736px;
  justify-content: space-between;
}

.corousel__control {
  height: 36px;
  border-style: none;
  background-color: transparent;
}

.corousel__slide-content {
  flex: 1;
  max-width: 679px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.corousel__slide-content-header {
  color: $gray-900;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
}

.corousel__slide-content-description {
  margin-top: 32px;
  color: $gray-300;
}

.corousel__pagination {
  display: flex;
  align-items: center;
}

.corousel__pagination-control {
  border-style: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $gray-900;
  margin-right: 13px;
  opacity: 0.4;
  cursor: pointer;
  padding: 0;
}

.corousel__pagination-control--active {
  height: 10px;
  width: 10px;
  opacity: 1;
}
