.portfolio {
  min-height: 1420px;
}

.portfolio__navigation {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-to($lg) {
    flex-direction: row;
    align-items: center;
    padding: 135px;
  }
}

.portfolio__navigation-menu {
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  @include respond-to($lg) {
    flex-direction: row;
    margin-top: 0;
  }
}

.portfolio__navigation-menu-item {
  width: fit-content;
  margin-bottom: 2px;

  a {
    padding: 10px;
    color: $gray-825;
    text-decoration: none;
  }

  @include respond-to($lg) {
    margin-left: 50px;
  }
}

.portfolio__navigation-menu-item:hover,
.portfolio__navigation-menu-item:focus,
.portfolio__navigation-menu-item--active {
  border-bottom: 2px solid $orange-500;
  margin-bottom: 0;
}

.portfolio__show-more-button {
  margin-top: 50px;
  width: 100%;
  min-height: 100px;
  background-color: $gray-100;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $gray-900;
  border-style: none;
  cursor: pointer;
  transition: all 0.3s;

  &:focus, &:hover {
    background-color: $gray-150;
    transition: all 0.3s;
  }
}
