.vision {
  display: flex;
  background: $gray-100;
  min-height: 840px;
}

.vision__image {
  flex-grow: 1;
  max-width: 50%;
  object-fit: cover;
}

.vision__content {
  flex-grow: 1;
  padding: 101px 135px 0 130px;
}

.vision__description {
  margin-top: 67px;
}
