.vision {
  display: flex;
  background: $gray-100;
  min-height: 840px;
  flex-direction: column;

  @include respond-to($lg) {
    flex-direction: row;
  }
}

.vision__image {
  flex-grow: 1;
  object-fit: cover;
  max-height: 500px;

  @include respond-to($lg) {
    max-width: 50%;
    max-height: 100%;
  }
}

.vision__content {
  flex-grow: 1;
  padding: 50px;

  @include respond-to($xl) {
    padding: 135px;
  }
}

.vision__description {
  margin-top: 70px;
}
