$orange-500: #FCBB08;

$gray-900: #242121;
$gray-850: #1D1D1D;
$gray-825: #333333;
$gray-800: #373A39;
$gray-300: #777777;
$gray-200: #9E9E9E;
$gray-180: #B8B8B8;
$gray-175: #C2C2C2;
$gray-150: #F0F0F0;
$gray-100: #F6F8FA;
$blue-500: #00B2A0;
