body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $gray-800;
}

.main-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 75px;
  color: $gray-900;
  letter-spacing: -1.65px;
  position: relative;
  margin: 0;

  @include respond-to($md) {
    white-space: nowrap;
    font-size: 60px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -14px;
    display: block;
    background-color: $orange-500;
    width: 60px;
    height: 4px;
  }
}
